---
navbar: About
title: "about"
updated_at: 2017-06-13 13:45:31 +0200
comments: false
---

<style>
    .about > section {
        margin-bottom: 32px;
    }
    .about > section > img {
        margin-top: 2em;
    }
    .about > section.me > img {
        margin-top: -3em;
    }
</style>

<div class="about">
    <section class="me clearfix">
        <img class="right me" src="<%= static_url '/images/me.jpg' %>" alt="alex">

        <p>
          When I was young, my dream was to be an <em>aircraft pilot</em>.

        <p>
            Today, I'm enjoying karate and <a href="/about/programming">programming</a>
            amongst other stuff. Sharing and freedom of speech are key values
            to me, so I pro actively support
            <a href="https://en.wikipedia.org/wiki/Open-source_software">Open Source Software</a>
            and other projects like <a href="https://wikileaks.org/">WikiLeaks</a>.

        <p>
          <em>kAworu</em> is a nickname I picked up a while ago. It comes from
          <a href="https://en.wikipedia.org/wiki/Neon_Genesis_Evangelion">Neon Genesis Evangelion</a>.

        <p>
            If you wish to contact me feel free to drop an email to alex at kaworu dot ch, here is
            <a href="http://pgp.mit.edu/pks/lookup?op=get&amp;search=0x75C528FE5EF6D112">my PGP Key</a>
            fingerprint: <code>BF78 C58D F5B1 F663 B24D 4020 75C5 28FE 5EF6 D112</code>.
            You can also usually find me on freenode (IRC).
    </section>

    <section class="geek clearfix">
        <img class="left" src="<%= static_url '/images/pacman-wallpaper.jpg' %>" alt="PacMan!">

        <h2>The geek side</h2>

        <p>
            I enjoy playing casually to 2D fighting games, in particular the
            Street Fighter IV series. Theses games reward you for reading your
            opponent patterns and adapting your strategy accordingly in a
            timely fashion.

        <p>
            Theses past years I play a bit of
            <a href="https://en.wikipedia.org/wiki/Magic:_The_Gathering">Magic</a>.
            It is a diverse, constantly elvolving, strategic cards game. It is
            also (and primarily) a way to spend some good time around a table
            with friends :)

        <p>
            With my some geeky friends we've collected a lot of various old
            gaming console and bought a video arcade machine (Astro City).
            Check <a href="/about/garage">here</a> for some pictures.
    </section>

    <section class="karate clearfix">
        <img class="right" src="<%= static_url '/images/kururunfa.jpg' %>" alt="Kururunfa in 2008">

        <h2 class="text-right">Karate</h2>

        <p>
          I started training karate at six years old at the nearest dojo from
          my home, a <em>Gojuryu Karatedo</em> school.

        <p>
            <small class="text-muted">
                Some people told me that — when I was young — punching people
                in the face was my main way to deal with conflict (whether I've
                been lying to or had good reasons to do so we will never know).
                So my parents decided to "enroll" me in a karate class in order
                to "channel my energy". Hopefully, today I'm avoiding punching
                people (although I've become quite efficient at it).
            </small>
        </p>

        <p>
            More than twenty years later I've been practicing two or three
            times a week, went two times to Japan for intensive training
            sessions and graduated to 3rd Dan.  I also teach since about ten
            years and love teaching to kids, because they're filled with
            positive energy.
    </section>

    <section class="other clearfix">
        <img class="left" src="<%= static_url '/images/my-bike.jpg' %>" alt="green is the colour">

        <h2>Uncategorized</h2>

        <p>
            Beside this weblog, I wrote and host several other website.

        <p>
            I wrote
            <a href="https://huongviet.ch" title="Association des jeunes vietnamiens de Genève">huongviet.ch</a>
            back in 2006 for <span class="brand">Huong Viet</span>, my
            Vietnamese youth association. It was my first project with
            Ruby On Rails.  Huongviet is organizing various activities and
            events each years including the Têt (Vietnamese new year).

        <p>
            I've been lead developer (and then webmaster and sysadmin) of
            simplebooker.com, a large project also using Ruby On Rails.
            <span class="brand">Simplebooker</span> was a company that I
            created with two friends around 2011. It aimed to provide a web
            platform useful for finding, comparing and booking various event
            artists like models, dancers or singers.
        <p>
            Finally, <a href="http://gojuryu.ch" title="Karaté Gojuryu Genève">gojuryu.ch</a>
            is one of my karate school's website. It has been created early
            2012 with Drupal.
    </section>

    <section class="books clearfix">
        <img class="right no-border" src="<%= static_url '/images/calvin-and-hobbes.jpg' %>" alt="Calvin &amp; Hobbes">

        <h2>Books</h2>

        <p>
            I am still very fond of the <span class="brand">Calvin and Hobbes</span>
            comic books.  I enjoy particularly the recurrent philosophical
            downhill ride and snowman scene themes. Without owning any
            collector stuff, I found the last "soft" album missing to my
            collection in 2012, nearly ten years after the first.

        <p>
            Not too long ago, I finally read
            <span class="brand">The Lord of the Rings</span>.  Tolkien's
            writing style is just brilliant, and if you're brave enough to
            bear the first 200 pages or so you'll be transported into another
            world.
    </section>

    <section class="movies clearfix">
        <img class="right no-border" src="<%= static_url '/images/in-the-mood-for-love.jpg' %>" alt="In The Mood For Love">

        <h2>Movies</h2>

        <p>
            I like Wong Kar Wai's style, aesthetics and taste for sensuality.
            <span class="brand">Days of Being Wild</span>,
            <span class="brand">In the Moode for Love</span> and
            <span class="brand">2046</span> forms a unique (informal) trilogy
            and definitely my favourite.

        <p>
            <span class="brand">The Matrix</span> is a classic. When the first
            movie came out I was about thirteen and I've been both puzzled by
            its complexity and impressed by its visual effects.

        <p>
            Unsurprisingly,
            <span class="brand">Eternal Sunshine of the Spotless Mind</span> is
            very high in my top list. It feature a interesting romantic and
            nonlinear story backed up by Michel Gondry's stunning visual
            effects.
    </section>

    <section class="music clearfix">
        <img class="right no-border" src="<%= static_url '/images/wish-you-were-here-cover-cropped.jpg' %>" alt="Wish You Were Here">

        <h2>Music</h2>
        <p>
            To me, <span class="brand">Pink Floyd</span> is yet unmatched
            amongst all. I'm also a big fan of
            <span class="brand">Daft Punk</span> and listen to (arguably old)
            classics like
            <span class="brand">Bob Marley</span>,
            <span class="brand">Led Zeppelin</span>,
            <span class="brand">The Doors</span>,
            <span class="brand">Georges Brassens</span> etc.

        <p>
            Recently I started a vinyls collection. I try to bring back a vinyl
            from every holiday trip. So far, only a handful of Pink Floyd
            vinyls belongs to this collection.
    </section>
</div>
