
<!-- partial _blog_page -->
<div id="blog-index" itemscope itemtype="https://schema.org/Blog">
    <meta itemprop="name"        content="<%= h @config[:title] %>">
    <meta itemprop="description" content="<%= h @config[:description] %>">
    <meta itemprop="url"         content="<%= @config[:base_url] %>">

    <% for article in @articles %>
        <article class="post" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
            <% unless article[:no_header] %>
                <header class="page-header">
                    <% if article[:created_at] %>
                        <p class="meta text-muted text-uppercase">
                            <span class="glyphicon glyphicon-calendar"></span>
                            <time datetime="<%= attribute_to_time(article[:created_at]).xmlschema %>" itemprop="datePublished dateCreated">
                                <%= attribute_to_time(article[:created_at]).strftime(@config[:date_format]) %>
                            </time>
                        </p>
                    <% end %>
                    <% if article[:title] %>
                        <h2 class="entry-title" itemprop="name headline">
                            <a href="<%= article.path %>" itemprop="url"><%= article[:title] %></a>
                        </h2>
                    <% end %>
                </header>
            <% end %>
            <div class="entry-content clearfix" itemprop="<%= has_excerpt?(article.compiled_content) ? 'description' : 'articleBody' %>">
                <%= excerptize article.compiled_content %>
            </div>
            <% if has_excerpt?(article.compiled_content) %>
                <footer>
                    <a class="read-more pull-right" href="<%= article.path %>"><%= @config[:excerpt_link] %></a>
                </footer>
            <% end %>
        </article>
    <% end %>
</div>

<ul class="pager">
    <li class="previous <%= 'disabled' unless navigation_prev %>">
        <a href="<%= navigation_prev ? navigation_prev.path : '#' %>">←&nbsp;Older</a>
    <li>
        <a href="#wrap">&#8593;&nbsp;back to top</a>
    <li class="next <%= 'disabled' unless navigation_next %>">
        <a href="<%= navigation_next ? navigation_next.path : '#' %>">Newer&nbsp;→</a>
</ul>
<!-- /partial _blog_page -->
