
<!-- article layout -->
<div class="row">
    <div class="page-content col-md-12" itemscope itemtype="https://schema.org/Blog">
        <meta itemprop="name"        content="<%= h @config[:title] %>">
        <meta itemprop="description" content="<%= h @config[:description] %>">
        <meta itemprop="url"         content="<%= @config[:base_url] %>">

        <article class="hentry" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
            <meta itemprop="url" content="<%= item_canonical_url @item %>">

            <% unless @item[:no_page_header] %>
                <header class="page-header">
                    <% if @item[:created_at] %>
                        <p class="meta text-muted text-uppercase">
                            <span class="glyphicon glyphicon-calendar"></span>
                            <time datetime="<%= attribute_to_time(@item[:created_at]).xmlschema %>" itemprop="datePublished dateCreated">
                                <%= attribute_to_time(@item[:created_at]).strftime(@config[:date_format]) %>
                            </time>
                        </p>
                    <% end %>
                    <% if @item[:title] %>
                        <h1 class="entry-title" itemprop="name headline">
                            <%= h @item[:title] %>
                            <% if @item[:subtitle] %>
                                <small><%= h @item[:subtitle] %></small>
                            <% end %>
                        </h1>
                    <% end %>
                </header>
            <% end %>

            <div class="entry-content clearfix" itemprop="articleBody">
                <%= yield %>
            </div>

            <footer>
                <p class="meta text-muted">
                    <!-- author -->
                    <span class="glyphicon glyphicon-user"></span>
                    <span class="byline author vcard" itemprop="author" itemscope itemtype="https://schema.org/Person">
                        Posted by
                        <span class="fn" itemprop="name"><%= item_author @item %></span>
                    </span>
                    <!-- dates -->
                    <span class="glyphicon glyphicon-calendar"></span>
                    <% if @item[:updated_at] %>
                        <time datetime="<%= attribute_to_time(@item[:updated_at]).xmlschema %>" data-updated="true" class="updated" itemprop="dateModified">
                            Updated <%= attribute_to_time(@item[:updated_at]).strftime(@config[:date_format]) %>
                        </time>
                    <% else %>
                        <time datetime="<%= attribute_to_time(@item[:created_at]).xmlschema %>">
                            <%= attribute_to_time(@item[:created_at]).strftime(@config[:date_format]) %>
                        </time>
                    <% end %>
                    <% if @item[:tags] and not @item[:tags].length.zero? %>
                        <!-- tags -->
                        <span class="glyphicon glyphicon-tags"></span> 
                        <span class="tags">
                        <% for tag in @item[:tags] do %>
                            <a class="tag label label-primary" href="<%= tag_path tag %>"><%= h tag %></a>
                        <% end %>
                        </span>
                    <% end %>
                </p>

                <% if navigation_prev or navigation_next %>
                <ul class="meta text-muted pager">
                    <% if navigation_prev %>
                        <li class="previous">
                            <a href="<%= navigation_prev.path %>" title="Previous Post: <%= h navigation_prev[:title] %>">&laquo;&nbsp;<%= h navigation_prev[:title] %></a>
                        </li>
                    <% end %>
                    <% if navigation_next %>
                        <li class="next">
                            <a href="<%= navigation_next.path %>" title="Next Post: <%= h navigation_next[:title] %>"><%= h navigation_next[:title] %>&nbsp;&raquo;</a>
                        </li>
                    <% end %>
                </ul>
                <% end %>
            </footer>
        </article>
    </div>
</div>
<!-- /article layout -->
